# Dependency directories
node_modules/

# Environment variables
.env

# Compiled TypeScript files
dist/

# Log files
logs/

# macOS metadata
.DS_Store

# Visual Studio Code settings
.vscode/

# Editor-specific files
*.sublime-project
*.sublime-workspace
*.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.log
*.tmp
*.pid
*.seed
*.pid.lock

# User-specific files
npm
**/config/config.json
